
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/html and css/homestyle.css">
</head>
<body>
    <div id="main">
        <nav>
            <img src="~/html and css/gokaraju.png" width="550" height="80">
            <ul>
                <li><a href="~/html and css/admin.html">ADMIN</a></li>
                <li><a href="~/html and css/faculty.html">FACULTY</a></li>
                <li><a href="~/html and css/hod.html">HOD</a></li>
                <li><a href="~/html and css/principal.html">PRINCIPAL</a></li>
            </ul>
        </nav>
    </div>
</body>
<html>
