@model onlineLeaveManagement.DAL.Detail

@{
    ViewBag.Title = "password";
}

@{ 
    if(ViewData["password"]=="true")
    {
        <h2>Password changed successfully</h2>
        <a href="~/html and css/home.html" target="_top">login again</a>
    }
    else
    {
        <h2>Enter correct details</h2>
    }
}

