
@{
    ViewBag.Title = "updateDept";
}

@{
    if (ViewData["dept"] == "true")
    {
        <h2>Employee dept updated successfully!</h2>
    }
    else
    {
        <h2>Employee doesn't exists</h2>
        <br />
        <h2>Enter correct details</h2>
    }
}

