
@{
    ViewBag.Title = "updatePhone";
}

@{
    if (ViewData["phone"] == "true")
    {
        <h2>Employee phone no updated successfully!</h2>
    }
    else
    {
        <h2>Employee doesn't exists</h2>
        <br />
        <h2>Enter correct details</h2>
    }
}

