
@{
    ViewBag.Title = "updatePassword";
}

@{
    if (ViewData["pass"] == "true")
    {
        <h2>Employee password updated successfully!</h2>
    }
    else
    {
        <h2>Employee doesn't exists</h2>
        <br />
        <h2>Enter correct details</h2>
    }
}
