
@{
    ViewBag.Title = "updateId";
}

@{
    if (ViewData["Id"] == "true")
    {
        <h2>Id updated successfully!</h2>
    }
    else
    {
        <h2>Employee doesn't exists</h2>
        <br />
        <h2>Enter correct details</h2>
    }
}


