
@{
    ViewBag.Title = "updateType";
}


@{
    if (ViewData["type"] == "true")
    {
        <h2>Employee Type updated successfully!</h2>
    }
    else
    {
        <h2>Employee doesn't exists</h2>
        <br />
        <h2>Enter correct details</h2>
    }
}



